@{
    ViewBag.Title = "Магазин бытовой техники";
}

<div class="row">
    <br/><h1>Магазин бытовой техник</h1>
</div>
<div class="row">
    <p>
        веб-приложение разработонно студентом в учебных целях

    </p>
    <br /><p>Всего 6 вкладок:</p>
    <p>Главная - вы сейчас находитесь на ней</p>
    <p>Детали - отображает список деталей</p>
    <p>Заказы - показывает список зарегистрированных заказов</p>
    <p>Отчет - осуществляет фильтрация</p>
    <p>Отчет LINQ - осуществялет выборку методами LINQ</p>
</div>